<launch>
    <group>
        <node pkg='joy' name='joy1' type='joy_node' output="screen">
            <param name='dev' type='string' value='/dev/input/js0'/>
        </node>
    </group>
    <group ns="left">
        <node pkg="arm_controller" type="script_br_node" name="script_br" output="screen" />
        <rosparam file="$(find arm_controller)/config/default_config.yaml" command="load" ns="params"/>
    </group>
</launch>